.hide {
  opacity: 0;
}

.gradient {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/f9/a8/ed/f9a8ed161524ca06e0d5250fe2d33e51.gif");
  color: black;
}

.rotate {
	transform: skew(30deg);
}