#circle {
	width: 200px;
	height: 200px;
	background: #ffdb68;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	font-family: "Courier";
	font-color: white;
	text-align: center;
	margin: auto;

}

a {
	text-decoration: none;
	font-color: white;
}

a:hover {
	color:red;
}

body {
	margin:100px;
}